$holisticonBlue : #4EB4F9;
$holisticonRed : #FF2D55;
$holisticonGrey : #717278;
$holisticonLightGrey : #B4B3BC;
$holisticonLighterGrey : #D7D6DB;
$holisticonBlockquoteGrey : #717278 ;
$holisticonBlockquoteBackground : #e0e0e0;